@import "variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

body {
	background: $bg-color;
}

nav {
	background: $nav-color;
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 5%;
	width: 100vw;
	position: relative;

	button,
	select {
		border: none;
		background: $button-color;
		box-sizing: content-box;
		padding: 10px 15px;
		color: white;
		cursor: pointer;
	}

	#dropdown {
		display: flex;

		.slider_and_text {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 5px;
		}
	}

	#arrSize,
	#sortSpeed {
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		div {
			display: flex;

			span {
				padding-left: 10px;
			}
		}
	}
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5vh;
	width: 100vw;
	position: relative;
	z-index: 0;

	table {
		color: white;
		background: $aux-color;
		border-radius: 5px;
		margin-top: 2vh;

		th,
		td {
			padding: 20px;
			text-align: center;
		}
	}
}
