@import "variables.scss";

@media (max-width: 991px) {
	html,
	body {
		height: 100%;
		width: 100%;
	}

	nav {
		i {
			display: flex;
			color: white;
		}

		#res-menu {
			position: relative;
			z-index: 6;

			button {
				margin-left: 5vw;
			}
		}

		#dropdown {
			position: absolute;
			flex-direction: column;
			left: 0;
			top: 50px;
			height: calc(100vh - 65px);
      background: $nav-color;
      padding: 0 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: all 0.25s ease-in-out;
			z-index: 6;
		}

		.showNav {
			transform: translateX(0);
		}

		.hideNav {
			transform: translateX(-100vw);
		}
	}
}

// Laptops and up
@media (min-width: 992px) {
	nav {
		.fa-bars {
			display: none;
		}

		div > * {
			margin-left: 0.5vw;
		}

		button,
		select {
			margin-left: 1vw;
			font-size: 1vw;
		}

		#dropdown {
			display: flex;
		}
	}
}

/*
  Small adjustments
*/

@media (max-width: 767px) {
	nav {
		#res-menu button {
			font-size: 4.5vw;
			padding: 6px 14px;
		}

		#dropdown > * {
			margin-top: 10vw;
			font-size: 5vw;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	nav {
		.fa-bars {
			font-size: 2.5vw;
		}

		#res-menu button {
			font-size: 2.5vw;
			padding: 10px 20px;
    }
    
    #dropdown > * {
      margin-top: 5vw;
      font-size: 3.5vw;
    }
	}
}
